# EXPLORING THE NETFLIX DATASET

In [1]:
import pandas as pd

In [2]:
CSV_file = r"c:\Users\ilaas\OneDrive\Desktop\data-hustle\Miniproject1\Data\netflix_titles.csv"

In [10]:
df = pd.read_csv(CSV_file)
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [8]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [11]:
df.shape

(8807, 12)

In [12]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [15]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [17]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [18]:
(df.isnull().sum()/len(df))*100

show_id          0.000000
type             0.000000
title            0.000000
director        29.908028
cast             9.367549
country          9.435676
date_added       0.113546
release_year     0.000000
rating           0.045418
duration         0.034064
listed_in        0.000000
description      0.000000
dtype: float64

In [19]:
df.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8121,s8122,TV Show,Super Bheem,NaN,"Sonal Kaushal, Rupa Bhimani, Julie Tejwani, Sa...",India,"June 28, 2019",2019,TV-Y,1 Season,Kids' TV,In this 3D-animated spinoff from the Chhota Bh...
2112,s2113,TV Show,DeMarcus Family Rules,NaN,NaN,United States,"August 19, 2020",2020,TV-14,1 Season,Reality TV,Rascal Flatts bassist Jay DeMarcus and ex-beau...
6459,s6460,TV Show,Chewin' the Fat,NaN,"Ford Kiernan, Greg Hemphill, Karen Dunbar, Mar...",United Kingdom,"October 1, 2016",1999,TV-14,1 Season,"British TV Shows, TV Comedies","Petty criminals, dodgy decorators, full-bore G..."
4169,s4170,Movie,Mi Obra Maestra,Gastón Duprat,"Guillermo Francella, Luis Brandoni, Raúl Aréva...","Argentina, Spain","January 25, 2019",2018,TV-MA,105 min,"Comedies, International Movies",A sly art dealer tries to revive the career of...
1501,s1502,Movie,After We Collided,Roger Kumble,"Josephine Langford, Hero Fiennes Tiffin, Dylan...",United States,"December 22, 2020",2020,R,105 min,"Dramas, Romantic Movies","Tessa fell hard and fast for Hardin, but after..."
512,s513,TV Show,Code Lyoko,NaN,"Raphaelle Bruneau, Sophie Landresse, Marie-Lin...","France, Belgium","July 6, 2021",2007,TV-Y7,4 Seasons,Kids' TV,After discovering a parallel universe hidden i...
8746,s8747,Movie,Winnie,Pascale Lamche,NaN,"France, Netherlands, South Africa, Finland","February 26, 2018",2017,TV-14,85 min,"Documentaries, International Movies",Winnie Mandela speaks about her extraordinary ...
2128,s2129,Movie,Beyond the Boundary: ICC Women's T20 World Cup...,Anna Stone,NaN,NaN,"August 14, 2020",2020,TV-G,59 min,"Documentaries, International Movies, Sports Mo...","With highlights from the 2020 tourney, this pr..."
6660,s6661,TV Show,Earth's Natural Wonders: Life at the Extremes,NaN,Corey Johnson,NaN,"October 1, 2018",2018,TV-14,1 Season,"British TV Shows, Docuseries, Science & Nature TV","From the Arctic to the Outback, humans battle ..."
5133,s5134,Movie,Trolls Holiday Special,Joel Crawford,"Anna Kendrick, Justin Timberlake, Zooey Descha...",United States,"December 6, 2017",2017,TV-Y7,27 min,"Children & Family Movies, Comedies, Music & Mu...",When Queen Poppy realizes that Bridget and the...

In [20]:
df['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [22]:
df['type'].value_counts()

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [23]:
df['rating'].value_counts()

rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: count, dtype: int64

In [27]:
df['listed_in'].value_counts().head(10)

listed_in
Dramas, International Movies                        362
Documentaries                                       359
Stand-Up Comedy                                     334
Comedies, Dramas, International Movies              274
Dramas, Independent Movies, International Movies    252
Kids' TV                                            220
Children & Family Movies                            215
Children & Family Movies, Comedies                  201
Documentaries, International Movies                 186
Dramas, International Movies, Romantic Movies       180
Name: count, dtype: int64

In [26]:
df['country'].value_counts().head(10)

country
United States     2818
India              972
United Kingdom     419
Japan              245
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Egypt              106
Name: count, dtype: int64

In [31]:
df.duplicated().sum()

np.int64(0)

In [32]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [34]:
df['date_added'] = df['date_added'].str.strip()

In [35]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

In [36]:
df.dtypes

show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added      datetime64[ns]
release_year             int64
rating                  object
duration                object
listed_in               object
description             object
dtype: object

In [37]:
df[df['date_added'].isnull()][['title', 'date_added']]

                                            title date_added
6066  A Young Doctor's Notebook and Other Stories        NaT
6174              Anthony Bourdain: Parts Unknown        NaT
6795                                      Frasier        NaT
6806                                      Friends        NaT
6901                              Gunslinger Girl        NaT
7196                                     Kikoriki        NaT
7254                          La Familia P. Luche        NaT
7406                                        Maron        NaT
7847                                 Red vs. Blue        NaT
8182                 The Adventures of Figaro Pho        NaT

# TRANSFORMING AND CLEANING NETFLIX DATASET

In [96]:
import pandas as pd
import numpy as np

CSV_file = r"c:\Users\ilaas\OneDrive\Desktop\data-hustle\Miniproject1\Data\netflix_titles.csv"

df = pd.read_csv(CSV_file)
df.head()


text_cols = ['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']

for col in text_cols:
    df[col] = df[col].astype(str).str.strip()

df.replace('nan', np.nan, inplace = True)


df['director'].fillna('Unknown', inplace = True)
df['cast'].fillna('Unknown', inplace = True)
df['country'].fillna('Unknown', inplace = True)
df['rating'].fillna('Not rated', inplace = True)

df['date_added'] = pd.to_datetime(df['date_added'], errors = 'coerce')
df['release_year'] = pd.to_numeric(df['release_year'], errors = 'coerce')

df['duration_int'] = df['duration'].str.extract(r'(\d+)').astype(float)
df['duration_type'] = df['duration'].str.extract(r'([a-zA-Z]+)')

df['duration_int'].fillna(0, inplace=True)
df['duration_type'].fillna('min', inplace=True)

df['listed_in'] = df['listed_in'].str.replace(',',' |')

df.columns = [col.lower() for col in df.columns]

df.drop(columns = 'duration', inplace = True)

df.isnull().sum()

show_id           0
type              0
title             0
director          0
cast              0
country           0
date_added       10
release_year      0
rating            0
listed_in         0
description       0
duration_int      0
duration_type     0
dtype: int64